@font-face {
  font-family: "Digital Display";
  src: url("font/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: rgb(37, 35, 35);
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  margin: 50px auto;
  max-width: 600px;
}

.container > div {
  width: 250px;
}

.container h3 {
  font-size: 2rem;
  color: #a8dadc;
  margin-bottom: 20px;
}

.score-board p {
  font-weight: bold;
  font-family: "Digital Display";
  font-size: 6rem;
  margin: 0;
  color: orangered;
}

.score-board {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.4);
}

.punti {
  width: 50px;
  height: 50px;
  font-size: 1rem;
  background-color: rgb(37, 35, 35);
  border: 1px solid whitesmoke;
  color: whitesmoke;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.punti:hover {
  background-color: orangered;
  color: black;
  transform: scale(1.1);
  font-size: 1.1rem;
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.7);
}

.newgame {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  background-color: rgb(37, 35, 35);
  border: 1px solid whitesmoke;
  color: whitesmoke;
  border-radius: 5px;
  margin: 50px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.newgame:hover {
  background-color: orangered;
  color: black;
  transform: scale(1.1);
  font-size: 1.1rem;
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.7);
}

.leader {
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px orangered;
  color: orangered;
}

div > img {
  border-radius: 100%;
}
